.aboutme {
    height: 100vh;
    background: rgba(0, 2, 3, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



    &__wrapper {
        height: 80%;
        width: 80%;
        background-color: rgba(11, 53, 73, 0.6);
        box-shadow: 0 0 8px 1px rgb(4, 26, 36);
        border-radius: 10px;
        position: relative;
    }

    &__right-titles {
        position: absolute;
        height: 12%;
        border-top: 2px solid rgba(4, 163, 236, 0.8);
        border-right: 2px solid rgba(4, 163, 236, 0.8);
        transform: skew(37deg);
        width: 40%;
        top: 6%;
        left: 45%;
        display: flex;
        justify-content: space-between;
    }


    &__cybershape {
        width: 100%;
        height: 100%;
        background: linear-gradient(165deg, rgba(0, 2, 3, 0.8), rgba(1, 16, 34, 0.8)), url('../images/hexagon-bg.jpg');
        background-size: cover;
        background-position: center;
        clip-path: polygon(1% 2%, 44% 2%, 49% 18%, 90% 18%, 96% 25%, 96% 60%, 99% 73%, 99% 98%, 20% 98%, 1% 80%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

    }

    &__ls {
        width: 49%;
        height: 100%;
    }

    &__rs {
        width: 51%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 20px;
        padding-top: 10%;

    }
}


@keyframes cursorTilt {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }


    50% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spanmove {
    0% {
        transform: translateX(-110%);
    }

    10% {
        transform: translateX(-110%);
    }

    90% {
        transform: translateX(270%);
    }

    100% {
        transform: translateX(270%);
    }
}