.recruit {
    &__answer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }


    &__answerInfo {
        font-size: 1rem;
        padding: 10px;
        font-size: 1rem;
        width: 100%;
        padding: 0 5px 5px 5px;
        border-left: 2px solid rgba(4, 163, 236, 0.8);
        padding: 10px;
        background-image: linear-gradient(135deg, rgba(13, 86, 134, 0.424), rgba(5, 54, 77, 0.014));

    }

    &__option-btn {
        padding: 15px 25px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1rem;
        transition: 0.1s;
        border: none;
        cursor: pointer;
        border-radius: 7px;
    }

    &__option-btn--blue {
        color: rgb(70, 160, 245);
        background: rgba(70, 160, 245, 0.609);
        box-shadow:
            0 0 10px rgba(70, 160, 245, 0.609),
            0 0 20px rgba(70, 160, 245, 0.609),
            0 0 40px rgba(70, 160, 245, 0.609);


        &:hover {
            color: rgb(6, 29, 51);
            box-shadow:
                0 0 10px rgba(70, 160, 245, 0.609),
                0 0 20px rgba(70, 160, 245, 0.609),
                0 0 40px rgba(70, 160, 245, 0.609),
                0 0 80px rgba(70, 160, 245, 0.609);
        }
    }

    &__option-btn--green {
        color: rgb(70, 245, 163);
        background: rgba(70, 245, 152, 0.609);
        box-shadow:
            0 0 10px rgba(70, 245, 152, 0.609),
            0 0 20px rgba(70, 245, 152, 0.609),
            0 0 40px rgba(70, 245, 152, 0.609);


        &:hover {
            color: rgb(6, 51, 30);
            box-shadow:
                0 0 10px rgba(70, 245, 152, 0.609),
                0 0 20px rgba(70, 245, 152, 0.609),
                0 0 40px rgba(70, 245, 152, 0.609),
                0 0 80px rgba(70, 245, 152, 0.609);
        }
    }


    &__option-btn--yellow {
        color: rgb(198, 245, 70);
        background: rgba(184, 245, 70, 0.609);
        box-shadow:
            0 0 10px rgba(184, 245, 70, 0.609),
            0 0 20px rgba(184, 245, 70, 0.609),
            0 0 40px rgba(184, 245, 70, 0.609);


        &:hover {
            color: rgb(50, 51, 6);
            box-shadow:
                0 0 10px rgba(184, 245, 70, 0.609),
                0 0 20px rgba(184, 245, 70, 0.609),
                0 0 40px rgba(184, 245, 70, 0.609),
                0 0 80px rgba(184, 245, 70, 0.609);
        }
    }

    &__option-btn--red {
        color: rgb(245, 70, 70);
        background: rgba(245, 70, 70, 0.609);
        box-shadow:
            0 0 10px rgba(245, 70, 70, 0.609),
            0 0 20px rgba(245, 70, 70, 0.609),
            0 0 40px rgba(245, 70, 70, 0.609);


        &:hover {
            color: rgb(51, 6, 8);
            box-shadow:
                0 0 10px rgba(245, 70, 70, 0.609),
                0 0 20px rgba(245, 70, 70, 0.609),
                0 0 40px rgba(245, 70, 70, 0.609),
                0 0 80px rgba(245, 70, 70, 0.609);
        }
    }
}