.recruit {
    height: 100vh;
    width: 100%;
    background: rgba(0, 2, 3, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;




    &__wrapper {
        width: 80%;
        height: 90%;
        position: relative;

        // border: 2px solid rgba(22, 116, 204, 0.8);

        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;

        // height: 80%;
        // width: 80%;
        // background-color: rgba(11, 53, 73, 0.6);
        // box-shadow: 0 0 8px 1px rgb(4, 26, 36);
        // border-radius: 10px;
        // position: relative;
    }

    &__questionsBox {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        background-color: rgba(11, 53, 73, 0.6);
        display: none;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 8px 1px rgb(4, 26, 36);
    }

    &__cybershape {
        width: 100%;
        height: 100%;
        background: linear-gradient(165deg, rgba(0, 2, 3, 0.8), rgba(1, 16, 34, 0.8)), url('../images/hexagon-bg.jpg');
        background-size: cover;
        background-position: center;
        clip-path: polygon(1% 2%, 44% 2%, 49% 18%, 90% 18%, 96% 25%, 96% 60%, 99% 73%, 99% 98%, 20% 98%, 1% 80%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border: 2px solid rgba(222, 16, 4, 0.8);
    }

    &__ls {
        width: 45%;
        height: 100%;
        // background-color: #fff;
        // border: 2px solid red;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px;
        padding-top: 15%;

    }

    &__questionHolder {
        width: 100%;
    }

    &__questionNR {
        padding: 10px;
        font-size: 1.4rem;
    }

    &__questionInfo {
        font-size: 1rem;

        padding: 0 5px 5px 5px;
        border-left: 2px solid rgba(4, 163, 236, 0.8);
        padding: 10px;
        background-image: linear-gradient(135deg, rgba(13, 86, 134, 0.424), rgba(5, 54, 77, 0.014));
        height: 145px;
    }


    // - - - - - - - right side - - - - - - - - - - - - 


    &__rs {
        width: 55%;
        height: 100%;
        // background-color: #567;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 30px;
        padding-top: 15%;
    }

    &__answersHolder {
        // border: 2px solid red;
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }


    &__answer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }


    &__answerInfo {
        font-size: 1rem;
        padding: 10px;
        font-size: 1rem;
        width: 100%;
        padding: 0 5px 5px 5px;
        border-left: 2px solid rgba(4, 163, 236, 0.8);
        padding: 10px;
        background-image: linear-gradient(135deg, rgba(13, 86, 134, 0.424), rgba(5, 54, 77, 0.014));
        // height: 145px;
    }


    // -  - - - - - - - - - - -  BTN - - - - - - - - - - - - - - - - - - - -

    &__btn {
        position: relative;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        overflow: hidden;


        &:hover {
            cursor: pointer;
            background: rgb(2, 147, 214);
            box-shadow:
                0 0 5px rgb(2, 147, 214),
                0 0 25px rgb(2, 147, 214),
                0 0 50px rgb(2, 147, 214),
                0 0 200px rgb(2, 147, 214);
        }

        &:hover::after {
            content: 'Click Me!';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 1.5rem;
            font-family: 'Megrim', cursive;
        }

    }

    &__btn-span {
        position: absolute;
        display: block;

        filter: drop-shadow(0 0 10px rgb(2, 147, 214));

        &:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 30px;
            background: linear-gradient(90deg, transparent, rgb(2, 147, 214));
            animation: spanmove1 1s linear infinite;
            animation-delay: 0s;
        }

        @keyframes spanmove1 {
            0% {
                left: -100%;
            }

            100% {
                left: 100%;
            }
        }



        &:nth-child(3) {
            bottom: 0;
            left: -100%;
            width: 100%;
            height: 30px;
            background: linear-gradient(270deg, transparent, rgb(2, 147, 214));
            animation: spanmove3 1s linear infinite;
            animation-delay: 0s;
        }

        @keyframes spanmove3 {
            0% {
                left: 100%;
            }

            100% {
                left: -100%;
            }
        }


        &:nth-child(2) {
            right: 0;
            top: -100%;
            width: 30px;
            height: 100%;
            background: linear-gradient(180deg, transparent, rgb(2, 147, 214));
            animation: spanmove2 1s linear infinite;
            animation-delay: 0.5s;
        }

        @keyframes spanmove2 {
            0% {
                top: -100%;
            }

            100% {
                top: 100%;
            }
        }


        &:nth-child(4) {
            left: 0;
            top: 100%;
            width: 30px;
            height: 100%;
            background: linear-gradient(0deg, transparent, rgb(2, 147, 214));
            animation: spanmove4 1s linear infinite;
            animation-delay: 0.5s;
        }

        @keyframes spanmove4 {
            0% {
                top: 100%;
            }

            100% {
                top: -100%;
            }
        }

    }


    //----------------------------------

    &__option-btn {
        padding: 15px 25px;
        // color: rgb(70, 160, 245);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1rem;
        transition: 0.1s;
        // background: rgba(70, 160, 245, 0.609);
        border: none;
        cursor: pointer;
        border-radius: 7px;

        // box-shadow:
        //     0 0 10px rgba(70, 160, 245, 0.609),
        //     0 0 20px rgba(70, 160, 245, 0.609),
        //     0 0 40px rgba(70, 160, 245, 0.609);


        // &:hover {
        //     color: rgb(6, 29, 51);
        //     box-shadow:
        //         0 0 10px rgba(70, 160, 245, 0.609),
        //         0 0 20px rgba(70, 160, 245, 0.609),
        //         0 0 40px rgba(70, 160, 245, 0.609),
        //         0 0 80px rgba(70, 160, 245, 0.609);
        // }

    }

    &__option-btn--blue {
        color: rgb(70, 160, 245);
        background: rgba(70, 160, 245, 0.609);
        box-shadow:
            0 0 10px rgba(70, 160, 245, 0.609),
            0 0 20px rgba(70, 160, 245, 0.609),
            0 0 40px rgba(70, 160, 245, 0.609);


        &:hover {
            color: rgb(6, 29, 51);
            box-shadow:
                0 0 10px rgba(70, 160, 245, 0.609),
                0 0 20px rgba(70, 160, 245, 0.609),
                0 0 40px rgba(70, 160, 245, 0.609),
                0 0 80px rgba(70, 160, 245, 0.609);
        }
    }

    &__option-btn--green {
        color: rgb(70, 245, 163);
        background: rgba(70, 245, 152, 0.609);
        box-shadow:
            0 0 10px rgba(70, 245, 152, 0.609),
            0 0 20px rgba(70, 245, 152, 0.609),
            0 0 40px rgba(70, 245, 152, 0.609);


        &:hover {
            color: rgb(6, 51, 30);
            box-shadow:
                0 0 10px rgba(70, 245, 152, 0.609),
                0 0 20px rgba(70, 245, 152, 0.609),
                0 0 40px rgba(70, 245, 152, 0.609),
                0 0 80px rgba(70, 245, 152, 0.609);
        }
    }


    &__option-btn--yellow {
        color: rgb(198, 245, 70);
        background: rgba(184, 245, 70, 0.609);
        box-shadow:
            0 0 10px rgba(184, 245, 70, 0.609),
            0 0 20px rgba(184, 245, 70, 0.609),
            0 0 40px rgba(184, 245, 70, 0.609);


        &:hover {
            color: rgb(50, 51, 6);
            box-shadow:
                0 0 10px rgba(184, 245, 70, 0.609),
                0 0 20px rgba(184, 245, 70, 0.609),
                0 0 40px rgba(184, 245, 70, 0.609),
                0 0 80px rgba(184, 245, 70, 0.609);
        }
    }

    &__option-btn--red {
        color: rgb(245, 70, 70);
        background: rgba(245, 70, 70, 0.609);
        box-shadow:
            0 0 10px rgba(245, 70, 70, 0.609),
            0 0 20px rgba(245, 70, 70, 0.609),
            0 0 40px rgba(245, 70, 70, 0.609);


        &:hover {
            color: rgb(51, 6, 8);
            box-shadow:
                0 0 10px rgba(245, 70, 70, 0.609),
                0 0 20px rgba(245, 70, 70, 0.609),
                0 0 40px rgba(245, 70, 70, 0.609),
                0 0 80px rgba(245, 70, 70, 0.609);
        }
    }

}