.recruit {
    height: 100vh;
    width: 100%;
    background: rgba(0, 2, 3, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__wrapper {
        width: 80%;
        height: 90%;
        position: relative;
    }

    &__questionsBox {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        background-color: rgba(11, 53, 73, 0.6);
        display: none;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 8px 1px rgb(4, 26, 36);
    }

    &__cybershape {
        width: 100%;
        height: 100%;
        background: linear-gradient(165deg, rgba(0, 2, 3, 0.8), rgba(1, 16, 34, 0.8)), url('../images/hexagon-bg.jpg');
        background-size: cover;
        background-position: center;
        clip-path: polygon(1% 2%, 44% 2%, 49% 18%, 90% 18%, 96% 25%, 96% 60%, 99% 73%, 99% 98%, 20% 98%, 1% 80%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__ls {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px;
        padding-top: 15%;
    }


    &__rs {
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 30px;
        padding-top: 15%;
    }

    &__answersHolder {
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }




    &__characterImage {
        opacity: 0;
        display: block;
    }
}


@media(max-width: 900px) {
    .recruit {

        &__cybershape {
            clip-path: polygon(1% 2%, 44% 2%, 49% 10%, 90% 10%, 96% 25%, 96% 60%, 99% 73%, 99% 98%, 20% 98%, 1% 80%);
        }


    }
}


@media(max-width: 700px) {
    .recruit {

        &__cybershape {
            clip-path: polygon(1% 2%, 44% 2%, 49% 10%, 90% 10%, 96% 25%, 96% 60%, 99% 73%, 99% 98%, 20% 98%, 1% 80%);
        }

        &__rs {
            padding-top: 15%;
        }

        &__ls {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}


@media(max-width: 550px) {
    .recruit {

        height: 110vh;

        &__cybershape {
            clip-path: polygon(1% 2%, 44% 2%, 49% 6%, 90% 6%, 96% 25%, 96% 60%, 99% 73%, 99% 98%, 20% 98%, 1% 80%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        &__ls {
            padding-right: 0;
            padding-left: 0;
            height: auto;
            width: 80%;

        }

        &__rs {
            width: 80%;
            padding: 0;
        }

    }
}