@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  background-color: #000;
  min-height: 100vh;
  font-family: 'Titillium Web', sans-serif;
}